<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Description</th>
            <% @doses.each do |dose| %>
            <% @ingredient = Ingredient.find(dose.ingredient_id) %>
            <td><%= @ingredient.name %> - <%= dose.description %></td>
            <td><%= link_to "Destroy an ingredient", dose_path(dose),method: :delete,
                data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %></td>
            <% end  %>
          </tr>
        </tbody>
      </table>
      <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
      <%= link_to "Come back to cocktails", root_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
